@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

*{
	margin: 0;
	padding: 0 ;
}

.backgroundfix{
	background-attachment: fixed;
}


#logo-samping-kiri{
	z-index: 1000;
	width: 3%;
	position: fixed;
	margin-top: 250px;
}

#logo-samping-kiri > a > img{
	width: 50px;
	height:50px;
	margin-bottom: 10px;
	background-color: grey;
	border-radius: 0 10px 10px 0;
	padding: 5px;
}

#blog2{
	background-color:  #232323;
}

#blog2-1{
	margin-left: 9%;
	margin-right: 9%;
}

.fotokarya{
	box-shadow:1px 1px 1px grey;
}



#textkarya{
	padding-top: 60px;
	padding-bottom: 40px;
	font-style: normal;
	text-align:center;
	font-family: 'Rubik', sans-serif;
	color: white;
	font-size: 30px;
}

.fotokarya{
	margin-right: 10px;
	margin-left:5px;
	padding-bottom:15px;
	width: 500px;
	height:600px;

}

#warnabelakang{
	background-color: #232323;
	padding:30px 0;
	width: 100%;
}
#formulirlogin{
	padding: 10px 30px;
	width: 30%;
	margin : 5% auto ;
	/*background-color: rgba(10,53,191,0.3); */
	border-radius: 20px;
	 /* margin-left :35%;
	margin-top: 5%; */
}



#tulisanlogin{
	color: white;
	word-spacing: 2px;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
   	font-family: 'Raleway', sans-serif ;
    padding: 7px 0;
}

#tulisandibawahlogin{
	padding-bottom: 20px;
	color: rgba(153,153,153,1);
	word-spacing: 2px;
    text-align: center;
    font-weight: 100;
    font-size: 14px;
   	font-family: 'Raleway', sans-serif;
}

.formulirgroup{
	margin-bottom: 5px;
	padding: 5px 0;
}

.label{
	padding-left: 10px;
	color: white;
	font-family:'Raleway', sans-serif;
	font-size: 14px;
}

#komentarbox{
	resize: vertical;
}

.input{
	width: 100%;
	margin-top: 5px;
	padding: 6px 0;
	border-radius:5px;
	border: none;
	/* border-bottom: 2px solid white; */
	/* background-color: #232323 !important; */
	color: black;
}

#fotoanda{
	color: white;
	background-color: grey;
}

#tombol1{
	background-color: grey;
	padding: 7px 23px;
	color: white ;
	font-family: 'Raleway', sans-serif;
	border: none;
	cursor: pointer;
	transition: 0.6s;
	border-radius: 25px;
}

#areatombol{
	margin-top: 15px;
    display: block;
    text-align: center;
}


#tombol2{
	background-color: grey;
	padding: 7px 20px;
	color: white ;
	font-family: 'Raleway', sans-serif;
	border: none;
	cursor: pointer;
	transition: 0.6s;
	border-radius: 25px;
}

#tombol1:hover{
	background-color: green ;
	border-radius: 0;
}

#tombol2:hover{
	background-color: green ;
	border-radius:0;
}

#navigasiatas{
	position: fixed;
	z-index: 1000;
}


#navigasiatas{
	position: fixed;
}

 nav {
 	text-align: center;
 	width: 100%;
 	height: 50px;
	 font-family: 'Raleway', sans-serif;
 } 

 nav ul {
	 background: grey;
	 padding: 0;
	 list-style: none;
	 position: relative;
	 display: inline-table;
	 width: 100%;
 }

 nav ul li{
	 float:right;
	 transition-duration: 0.75s;
 }

 nav ul li:hover{
 	background:#232323;
 	transform: 
 }

 nav ul li:hover a{
	 color:white;
 }

 nav ul li a{
 	display: block;
 	padding: 15px;
	 color: #fff;
 	text-decoration: none;
}

 footer {
 	background:grey;
 	text-align: center;
 	width: 100%;
 	padding: 10px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
 } 

 footer ul {
	 padding: 0;
	 list-style: none;
	 position: relative;
	 display: inline-table;
	 width: 100%;
 }

 footer ul li{
	 float:auto;
	 transition-duration: 0.75s;
 }

 .footertext{
 	display: inline;
 }

 footer ul li:hover{ 
 }

 footer ul li:hover a{
	 color:black;
 }

 footer ul li a{
 	padding: 10px;
	color: white;
 	text-decoration: none;
}
footer p{
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}


